#include? "../Pods/Target Support Files/Pods-PacketTunnelExtension/Pods-PacketTunnelExtension.debug.xcconfig"

APP_BUNDLE_ID = com.example.vntapp
APP_EXTENSION_BUNDLE_ID = com.example.vntapp.tunnel-extension
CONTROL_EXTENSION_BUNDLE_ID = com.example.vntapp.control-extension
APP_GROUP_ID = group.com.example.vntapp.shared

#include? "Private.xcconfig"
